extends layout

block content

  h1 Brand: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')


  if product_list.length
    p #[strong Delete this products before deleting this brand]
    div(style='margin-left:20px;margin-top:20px')
    
      each product in product_list
        hr
        dt
          a(href=product.url) #{product.name}

  else
    p Do you really want to delete this Brand
      
      form(method='POST' action='')
        div.form-group
          input#brandid.form-control(type='hidden',name='brandid', required='true', value=brand._id )

        button.btn.btn-primary(type='submit') Delete

    