extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Brand:
      input#name.form-control(type='text', placeholder='Apple, Banana' name='name' value=(undefined===brand ? '' : brand.name))
      label(for='ceo_name') Ceo:
      input#ceo_name.form-control(type='text', placeholder='Raja, Ranganna' name='ceo_name' value=(undefined===brand ? '' : brand.ceo_name))
    div.form-group
      label(for='started') start Date:
      input#started.form-control(type='date' name='started' value=(undefined===brand ? '' : brand.started) )
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg