body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


  

.productSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.productImage{
  border:2px solid black;
  border-radius:3px;
  
}
